<!DOCTYPE html>
<html>
<head>
	<title>来玩</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="/static/img/laiwan_icon.png">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" media="(max-width:715px)" href="/static/css/phone.css">
</head>
<body>
     
<div class="main">
    <div class="left">
            <div class="logo"></div>
            <h2>来玩</h2>
            <div class="logo-border"></div>
            <div class="iphonex"></div>            
    </div>
    <div class="right">
            <div class="description">
                <h2>斗地主&nbsp&nbsp&nbsp德州扑克</h2>  
                <h3>好友欢乐约战</h3>
            </div>
            <div class="picture"> 
                <div class="kuang">
                    <a href="{{ ios_download_url }}" target="view_window">
                        <div class="ios"></div>
                    </a>
                    <a href="{{ android_download_url }}" target="view_window">
                        <div class="android"></div>
                    </a>
                    <a href="{{ google_download_url }}" target="view_window">
                        <div class="google"></div>
                    </a>
                </div>    
            </div>
    </div>
    <div class="bottom"></div>
</div>

</body>
</html>