<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>来玩</title>
    <!-- <link rel="stylesheet" href="debug.css"> -->
    <link rel="icon" href="/static/img/laiwan_icon.png" type="image/png" />
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <style>
        .hero {
            background: url(/static/img/bg.jpg)
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .b {
            margin-left: 5%;
            margin-right: 5%;
        }

        @media(min-width:768px) {
            #chicun {
                max-width: 300px;
            }
        }
    </style>
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <div class="container">
                <figure class="center">
                    <img src="/static/img/logo.png">
                </figure>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column">
                        <p class="center title has-text-white">来玩</p>
                        <figure class="center">
                            <img src="/static/img/iphonex.png" id="chicun">
                        </figure>
                    </div>
                    <div class="column is-1">
                        <figure class="center">
                            <img src="/static/img/divided.png">
                        </figure>
                    </div>
                    <div class="column">
                        <p class="center title has-text-white is-size-7-mobile">斗地主 &nbsp;&nbsp;&nbsp;德州扑克</p>
                        <p class="center subtitle has-text-white is-size-7-mobile">和朋友一起玩</p>
                        <div class="column">
                            <figure class="center">
                                <img src="{{ qrcode_path }}">
                            </figure>
                        </div>
                        <div class="column center">
                            <figure class="b">
                                <a href="{{ ios_download_url }}">
                                    <img src="/static/img/apple.png">
                                </a>
                            </figure>
                            <figure class="b">
                                <a href="{{ android_download_url }}">
                                    <img src="/static/img/android.png">
                                </a>
                            </figure>
                        </div>
                        <div class="column">
                            <figure class="center">
                                <a href="{{ google_download_url }}">
                                    <img src="/static/img/google.png">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
