<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="minimal-ui,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/static/css/download.css">
    <title>来玩</title>
    <script type="text/javascript">
        var doudizhu_h5_url = {{ doudizhu_h5_url|tojson }}

        document.addEventListener("DOMContentLoaded", function(event) {
        if (window.location.host != "apple-app-site-association.laiwan.io"){
            window.location.href = doudizhu_h5_url
        }
        });
</script>
</head>

<body class="app">

<img class='topImg' src="/static/img/top.png">
<img class='bottomImg' src="/static/img/bottom.png">

<div class="out-container">
    <div class="main">
        <header>
            <div class="table-container">
                <div class="cell-container">
                    <div class="app-brief">
                        <div class="icon-container wrapper">
                            <i class="icon-icon_path bg-path"></i>
                            <span class="icon">
                                    <img src="/static/img/laiwan_icon.png">
                                </span>
                        <h1 align="center" class="name wrapper">
                            来玩
                        </h1>
                        </div>
                        <p>房间号：{{ room_pin }}</p>
                        <div id="actions" class="actions type-android">
                            <input class="button" name="submit" type="image" value="" src="/static/img/download.png"
                            onclick=window.open("{{app_store_url}}") />
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
</body>
</html>