<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>来玩安卓版下载, 来玩苹果最新版下载 - 来玩棋牌App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="来玩，是全民娱乐的专业棋牌在线竞技平台，拥有众多游戏全终端覆盖iOS、安卓端，包括斗地主、德州扑克等棋牌游戏，同时还有欢乐答题等休闲游戏。以竞技为核心，让您在紧张刺激中享受游戏的乐趣。送钻石！送房卡！进入《来玩》，下载游戏体验原汁原味的俱乐部玩法" />
    <meta name="keywords" content="真人德扑圈,德扑圈,德州扑克圈,德扑社交游戏,约局,组局,扑克,德扑,德友圈,天天德州,大鱼扑克,俱乐部,免房卡" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="icon" href="/static/img/home/laiwan_icon.png" type="image/png" />
    <script src="/static/css/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
</head>
<style>
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero {
        background: url(/static/img/home/small_bg.jpg);
    }

    #nav_burger {
        background: url(/static/img/home/small_bg.jpg);
    }

    .brand {
        margin-left: 10rem;
    }

    .logo {
        min-width: 2rem;
        min-height: 3rem;
    }

    .menu_item {
        border: none;
        color: #d9d7ff;
    }

    .menu_item:hover {
        border-bottom: 2px solid #fff;
        color: #fff;
    }

    .first_container {
        border-style: solid;
        border-color: #c6caff;
        border-width: 2px;
        border-radius: 10px;
        margin-top: 2rem;
    }

    .second_container {
        width: 80%;
        margin-bottom: 5rem;
    }

    .third_container {
        width: 80%
    }

    .laiwan_icon {
        margin-top: 1rem;
    }

    .game_mall_list {
        margin-left: 2rem;
    }

    .pick_goods {
        color: #1b085a;
    }

    .goods_item {
        border-style: solid;
        border-color: #c6caff;
        border-width: 2px;
        border-radius: 10px;
    }

    .goods_price {
        color: #7b5bc2;
    }

    .diamond {
        margin-top: 1.5rem;
    }

    .diamond_img {
        width: 35%
    }

    .purchase {
        width: 60%;
        border-radius: 4px;
        background-color: #7b5bc2;
        color: white;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .user_information {
        color: #1b085a;
    }

    .user_phone_number {
        color: #1b085a;
    }

    .button_color {
        background-color: #5d3fa1;
    }

    .buy_now {
        font-size: 1rem
    }
</style>

<script>
    $(document).ready(function () {
        $(".navbar-burger").click(function () {
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
    });
</script>

<body>
    <section class="hero is-small nav">
        <div class="hero-head">
            <nav class="navbar">
                <div class="navbar-brand brand">
                    <a class="navbar-item">
                        <img src="/static/img/home/logo.png" class="logo center" />
                    </a>
                    <a class="navbar-burger burger">
                        <span class="has-text-white"></span>
                        <span class="has-text-white"></span>
                        <span class="has-text-white"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="nav_burger">
                    <div class="navbar-start">
                        <p class="title has-text-white is-4 center">
                            来玩
                        </p>
                    </div>
                    <div class="navbar-start">
                        <div class="navbar-item">
                            <a class="menu_item" href="/">
                                <strong> 首页 </strong>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="menu_item" href="/glossary">
                                <strong> 德州扑克术语表 </strong>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="menu_item" href="/mall">
                                <strong> 游戏商城 </strong>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section>
        <div class="container first_container">
            <div class="center laiwan_icon">
                <img src="/static/img/home/icon.png" />
                <p class="title game_mall_list">来玩商城</p>
            </div>
            <br>
            <div class="center has-text-black is-size-6">
                <p>您可以通过来玩商城直接充值钻石，钻石可以再各个版本的 <a>来玩app</a> 中通用。</p>
            </div>
            <br>
            <br>
            <div class="center">
                <div class="second_container">
                    <div>
                        <p class="pick_goods title is-size-6">商品选择</p>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column container center">
                            <div class="third_container">
                                <div class="goods_item">
                                    <p class="center goods_price is-size-5">60颗</p>
                                    <div class="center diamond">
                                        <img src="/static/img/home/img-mall-diamond.png" class="diamond_img">
                                    </div>
                                    <div class="center">
                                        <p class="purchase center">¥6 购买</p>
                                    </div>
                                </div>
                                <div class="center">
                                    <label class="radio">
                                        <input type="radio" name="choose">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column container center">
                            <div class="third_container">
                                <div class="goods_item">
                                    <p class="center goods_price is-size-5">300颗</p>
                                    <div class="center diamond">
                                        <img src="/static/img/home/img-mall-diamond.png" class="diamond_img">
                                    </div>
                                    <div class="center">
                                        <p class="purchase center">¥30 购买</p>
                                    </div>
                                </div>
                                <div class="center">
                                    <label class="radio">
                                        <input type="radio" name="choose">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column container center">
                            <div class="third_container">
                                <div class="goods_item">
                                    <p class="center goods_price is-size-5">1280颗</p>
                                    <div class="center diamond">
                                        <img src="/static/img/home/img-mall-diamond.png" class="diamond_img">
                                    </div>
                                    <div class="center">
                                        <p class="purchase center">¥128 购买</p>
                                    </div>
                                </div>
                                <div class="center">
                                    <label class="radio">
                                        <input type="radio" name="choose">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column container center">
                            <div class="third_container">
                                <div class="goods_item">
                                    <p class="center goods_price is-size-5">3280颗</p>
                                    <div class="center diamond">
                                        <img src="/static/img/home/img-mall-diamond.png" class="diamond_img">
                                    </div>
                                    <div class="center">
                                        <p class="purchase center">¥328 购买</p>
                                    </div>
                                </div>
                                <div class="center">
                                    <label class="radio">
                                        <input type="radio" name="choose">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column container center">
                            <div class="third_container">
                                <div class="goods_item">
                                    <p class="center goods_price is-size-5">6480颗</p>
                                    <div class="center diamond">
                                        <img src="/static/img/home/img-mall-diamond.png" class="diamond_img">
                                    </div>
                                    <div class="center">
                                        <p class="purchase center">¥648 购买</p>
                                    </div>
                                </div>
                                <div class="center">
                                    <label class="radio">
                                        <input type="radio" name="choose">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="user_information title is-size-6">用户信息确认</p>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column is-narrow center">
                            <p class="user_phone_number subtitle is-size-7">请输入你的手机号:</p>
                        </div>
                        <div class="column is-narrow center">
                            <div class="select">
                                <select>
                                    <option>中国(+86)</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-narrow center">
                            <input class="input" type="text" placeholder="手机号码">
                        </div>
                    </div>
                    <div>
                        <p class="user_information subtitle is-size-7">支付方式暂只支持支付宝</p>
                    </div>
                    <br>
                    <div class="center">
                        <a class="button button_color is-focused is-large has-text-white">
                            <p class="buy_now">确认购买</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>