<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="minimal-ui,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/static/css/download.css">
    {% block head %}{% endblock %}
</head>

<body class="app">

<img class='topImg' src="/static/img/top.png">
<img class='bottomImg' src="/static/img/bottom.png">

<div class="out-container">
    <div class="main">
        <header>
            <div class="table-container">
                <div class="cell-container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </header>
    </div>
</div>
</body>
</html>
