<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-eqFuiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="minimal-ui,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/download/static/css/download.css">
    <link rel="icon" href="/download/static/img/laiwan_icon.png" type="image/png" />
    <title>来玩-用户支持</title>
</head>

<body class="app">

<img class='topImg' src="/download/static/img/top.png">
<img class='bottomImg' src="/download/static/img/bottom.png">


<div class="out-container">
    <div class="main">
        <header>
            <div class="table-container">
                <div class="cell-container">
                    <div class="support" style="text-align:center; margin-top: -200px;">
                        <h1>用户支持</h1>
                            <table style="width: 60%; margin:auto; font-weight: bold">
                            <tr>
                            <th>客户QQ</th>
                            <td>{{ support_qq }}</td>
                            </tr>
                            <tr>
                            <th>用户QQ群</th>
                            <td>{{ support_qq_group }}</td>
                            </tr>
                            <tr>
                            <th>客服微信</th>
                            <td>{{ support_wechat }}</td>
                            </tr>
                            </table>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
</body>
<script src="/download/static/js/qrcode.js"></script>
</html>