@charset:"UTF-8";
body{
	background: url("/static/img/bg.jpg");
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    background-position:bottom;
}

.main{
	width: 100%;
	height:100%;
	margin:0 auto;
} 

.main .left{
	width: 50%;
	height: 100%;
	position: absolute;
	float: left;
}

.left .content{
	width: 40%;
	height: 100%;
	float: right;
}

.left .logo{
	background: url("/static/img/logo.png");
	background-repeat: no-repeat;
	background-size:contain; 	
	height:15%;
	width: 15%;
	position:absolute;
	right: 20%;
	top:2%;
}

.left .logo-border{
	background:url("/static/img/divided.png");
	width: 0.2%;
    height: 15%;
    position: absolute;
    right: 2%;
    top: 10%;
}

.left .iphonex{
	background:url("/static/img/iphonex.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 70%;
	width: 40%;
	position: absolute;
	right: 5%;
	bottom: 2%;
}

.left h2{
	position: absolute;
	right: 26%;
	top:17%;
}

.main .right{
	position: absolute;
	width: 50%;
	height: 100%;
	float: left;
	right: 0;
}

.right .description{
    width: 100%;
    height: 20%;
    position: absolute;
}

.description h2{
	margin:8% 0 2% 8% ;	
}

.description h3{
	font-size: 1.4em;
	margin-left: 10%;
}

.right .picture{
	width: 100%;
	height: 42%;
	top:32%;
	position: relative;
}

.picture .kuang{
	background:url("/static/img/en2.png");
	background-size: contain;
	background-repeat: no-repeat; 
	height: 50%;
    width: 70%;
    position: absolute;
}

.picture .ios{
	background:url("/static/img/apple.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 40%;
	width: 34%;
	position: absolute;
	right: 25%;	
}

.picture .android{
	background:url("/static/img/android.png");
	background-repeat: no-repeat;
	background-size: contain;
	height:40%;
	width: 34%;
	position: absolute;
	bottom: 0;
	right: 25%;	
}

.right .download{
	position: relative;
	width: 100%;
	height: 30%;
	top:20%;
}

.download .google{
	background:url("/static/img/google.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 40%;
	width: 80%;
	position: absolute;
	top:-20%;
}
