@charset:"UTF-8";
body{
	background: url("/static/img/bg.jpg");
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    background-position:bottom;
}

.main{
	width: 100%;
	height:100%;
	margin:0 auto;
}

.main .left{
	width: 50%;
	height: 100%;
	position: absolute;
	float: left;
}

.left .logo{
	background: url("/static/img/logo.png");
	background-repeat: no-repeat;
	background-size:contain;
	height:15%;
	width: 15%;
	position:absolute;
	right: 20%;
	top:2%;
}

.left .logo-border{
	background:url("/static/img/divided.png");
	width: 0.2%;
    height: 15%;
    position: absolute;
    right: 6%;
    top: 10%;
}

.left .iphonex{
	background:url("/static/img/iphonex.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 70%;
	width: 40%;
	position: absolute;
	right: 5%;
	bottom: 2%;
}

.left h2{
	position: absolute;
	right: 26%;
	top:17%;
	font-size: 2.0em;
}

.main .right{
	position: absolute;
	width: 50%;
	height: 100%;
	float: left;
	right: 0;
}

.right .description{
    width: 100%;
    height: 20%;
    position: absolute;
}

.description h2{
	margin:8% 0 2% 8% ;
	font-size: 2.0em;

}

.description h3{
	font-size: 2.0em;
	margin-left: 10%;
}

.right .picture{
	width: 100%;
	height: 60%;
	top:32%;
	position: relative;
}

.picture .kuang{
	background:url("/static/img/en3.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 50%;
    width: 54%;
    position: absolute;
}

.picture .ios{
	background:url("/static/img/apple.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 39%;
	width: 35%;
	position: absolute;
	right: 0;
	top:1%;
}

.picture .android{
	background:url("/static/img/android.png");
	background-repeat: no-repeat;
	background-size: contain;
	height:39%;
	width: 35%;
	position: absolute;
	bottom: 0;
	right: 0%;
}

.picture .google{
	background:url("/static/img/google.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 40%;
	width: 100%;
	position: absolute;
	bottom: -50%;
}
