@charset:"UTF-8";
body{
	background: url("/static/img/bg.jpg");
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    background-position: left;
}

.main{
	width: 100%;
	height:100%;
	margin:0 auto;
}

.main .left{
	width: 50%;
	height: 100%;
	position: absolute;
	float: left;
}

.left .logo{
	background: url("/static/img/logo.png");
	background-repeat: no-repeat;
	background-size:contain; 
	position: absolute;
	height:16%;
	width: 27%;
	right: 30%;
	top:10%;
}

.left .logo-border{
	background:url("/static/img/divided.png");
	width: 0.5%;
    height: 15%;
    position: absolute;
    right: 5%;
    top: 5%;
}

.left .iphonex{
	background:url("/static/img/iphonex.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 50%;
	width: 70%;
	position: absolute;
	right: 8%;
	bottom: 20%;
}

.left h2{
	 position: absolute;
     right: 30%;
     font-size: 1.4em;
     top:19%;
}

.main .right{
	position: absolute;
	width: 50%;
	height: 100%;
	float: left;
	right: 0;
}

.right .description{
    width: 100%;
    height: 20%;
    position: absolute;
}

.description h2{
	margin:30% 0 0% 8% ;
	font-size:1.3em;
}

.description h3{
	font-size: 1.3em;
	text-align: center;
}

.right .picture{
	width: 100%;
	height: 42%;
	top:32%;
	position: relative;
}

.picture .kuang{
	background:url("/static/img/en3.png");
	background-size: contain;
	background-repeat: no-repeat; 
	height: 35%;
    width: 100%;
    position: absolute;
}

.picture .ios{
	background:url("/static/img/apple.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 40%;
	width: 34%;
	position: absolute;
	right: 0;
}

.picture .android{
	background:url("/static/img/android.png");
	background-repeat: no-repeat;
	background-size: contain;
	height:40%;
	width: 34%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.picture .google{
	background:url("/static/img/google.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 40%;
	width: 100%;
	position: absolute;
}
