@charset:"UTF-8";
body{
	background: url("/static/img/bg.jpg");
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    background-position: center;
}

.main{
	width: 100%;
	height:100%;
	margin:0 auto;
}

.main .left{
	width: 50%;
	height: 100%;
	position: absolute;
	float: left;
}

.left .logo{
	background: url("/static/img/logo.png");
	background-repeat: no-repeat;
	background-size:contain; 
	position: absolute;
	height:15%;
	width: 27%;
	right: 25%;
	top:15%;
}

.left .logo-border{
	background:url("/static/img/divided.png");
	width: 0.2%;
    height: 40%;
    position: absolute;
    right: 0;
    top: 10%;
}

.left .iphonex{
	background:url("/static/img/iphonex.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 50%;
	width: 70%;
	position: absolute;
	right: 8%;
	bottom: 20%;
}

.left h2{
	 position: absolute;
     right: 0;
     display: block;
}

.main .right{
	position: absolute;
	width: 50%;
	height: 100%;
	float: left;
	right: 0;
}

.right .description{
    width: 100%;
    height: 20%;
    position: absolute;
}

.description h2{
	position: absolute;
	top: 13%;
}

.description h3{
	position: absolute;
	top:60%;
}

.right .picture{
	width: 100%;
	height: 42%;
	top:20%;
	position: relative;
}

.picture .erweima{
	background:url("/static/img/qrcode.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 30%;
	width: 40%;
	position: absolute;
	left: 6%;	
}

.picture .ios{
	background:url("/static/img/apple.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 15%;
	width: 60%;
	position: absolute;
	bottom: 54%;
	left:6%;
}

.picture .android{
	background:url("/static/img/android.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 15%;
	width: 60%;
	position: absolute;
	bottom: 35%;
	left:6%;
}

.right .download{
	position: relative;
	width: 100%;
	height: 30%;
	top:20%;
}

.download .google{
	background:url("/static/img/google.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 40%;
	width: 80%;
	position: absolute;
	top:-40%;
}

.download .neice{
	background:url("/static/img/neice.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 40%;
	width: 80%;
	position: absolute;
	bottom: 75%;
}

.main .bottom{
	background:url("/static/img/bottom.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 9%;
	position: absolute;
	bottom:0%;
}