.background {
    height: auto;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #03080d;
    background-image: url('../image/background.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.screenshotContainer {
    position: relative;
}

.screenshot {
    position: relative;
    display: block;
    width: 26.56rem;
    height: 49.25rem;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #e9e4ff;
    transform: translateX(-50%) translateY(-50%);
    animation: wave 5s ease-in-out infinite;
}

.circle.second {
    animation-delay: 1s;
}

.circle.third {
    animation-delay: 3s;
}

@keyframes wave {
    0% {
        width: 13rem;
        height: 13rem;
        opacity: 0.3;
    }

    95% {
        width: 39.75rem;
        height: 39.75rem;
        opacity: 0;
    }

    100% {
        width: 13rem;
        height: 13rem;
        opacity: 0;
    }
}

.h5News {
    width: 29rem;
    height: 9.8rem;
    margin-left: -.8rem;
}

.title {
    margin-top: 2.9rem;
    font-size: 3.75rem;
}

.subtitle {
    margin-top: 1.75rem;
    font-size: 3.5rem;
}

.downloadMethod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 520px;
    margin-top: 0.5rem;
}

.downloadMethod>* {
    margin-top: 1rem;
}

.downloadMethod .buttonImage {
    width: 14.37rem;
    height: 4.87rem;
}

.h5Tutorual {
    display: block;
    margin-top: 0.5rem;
    color: #188bfb;
    font-size: 1.25rem;
    text-decoration: underline;
}

.qrcodeImage {
    width: 16.25rem;
    height: 16.25rem;
}

.qrcodeText {
    margin-top: 0.6rem;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .screenshotContainer {
        display: none;
    }

    .container {
        padding: 0 1.1rem;
    }

    .content {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 800px) {
    .qrcodeContainer {
        display: none;
    }
}
