.background {
    height: auto;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('../image/background.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.phoneScreenshot {
    width: 26.56rem;
    height: 49.25rem;
}

.h5News {
    width: 16.56rem;
    height: 7.12rem;
}

.title {
    margin-top: 4.8rem;
    font-size: 3.75rem;
}

.subtitle {
    margin-top: 1.75rem;
    font-size: 3.5rem;
}

.downloadMethod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 520px;
    margin-top: 3rem;
}

.downloadMethod>* {
    margin-top: 1.8rem;
}

.downloadMethod .buttonImage {
    width: 14.37rem;
    height: 4.87rem;
}

.qrcodeImage {
    width: 16.25rem;
    height: 16.25rem;
}

.qrcodeText {
    margin-top: 0.6rem;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .phoneScreenshot {
        display: none;
    }

    .container {
        padding: 0 1.1rem;
    }

    .content {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 800px) {
    .qrcodeContainer {
        display: none;
    }
}
